@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(180deg, #0b021d 0%, #230b7d 100%);
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #0b021d 0%, #230b7d 100%);
  }
}

body {
  color: white;
  background: var(--background);
  height: 100%;
  width: 100%;
}
